{% extends "templates/layout.twig" %}

{% block mainContent %}


<div class="row-fluid">
  <div class="span6">
    <h2>Administration</h2>
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-header">Enheter</li>
        <li><a href="{{base_url}}administration/unitCreate">Skapa enhet</a></li>
        <li><a href="{{base_url}}administration/unitType">Administrera enhetstyper</a></li>
        <li><a href="{{base_url}}administration/unitOrg">Administrera organisationer</a></li>
        
        <li class="nav-header">Användare</li>
        <li><a href="{{base_url}}administration/roleType">Administrera roller</a></li>
        <li class="disabled"><a href="{{base_url}}administration/unitCreate">Administrera användare</a></li>

        
    </ul>
  </div><!--/span-->
  
  <div class="span6">
    <h2>Hjälp</h2>
    <p>Detta är administrationsmenyn. Den är inte specifik för ett förbund, förening eller avdelning utan syftar till att vara en administrationssida för hela systemet. Tänk därför på att det som du ändrar här kommer påverka alla andra.</p>
    
    <h3>Skapa enhet</h3>
    <p>Här skapar du dina enheter</p>
    
    <h3>Skapa enhetstyp</h3>
    <p>Emhetstyper, ex. ungdomsavdelning, vuxenavdelning mm.</p>
  </div><!--/span-->
</div><!--/row-->
          
{% endblock %}
