<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <script data-main="{% block jsPage %}js/page1{% endblock %}" src="js/lib/require.js"></script>
    <link rel="stylesheet" href="{{ base_url }}vendor/bootstrap/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="{{ base_url }}vendor/bootstrap/css/bootstrap-responsive.css" type="text/css">
    <link rel="stylesheet" href="{{ base_url }}css/style.css" type="text/css">
    
    {% block head %}
        <title>{% block title %}{% endblock %} Försvarsutbildarna Skåne</title>
    {% endblock %}
</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">FuAdmin2</a>
          <div class="nav-collapse collapse">

            
            <p class="navbar-text pull-right">
            <span>
                <strong>Aktuell enhet:</strong>
                {{ activeUnit.getName()  }} |
            </span>
            <span>
                <strong>Inloggad som:</strong>
                  {{ activeUser.getGivenName()|capitalize  }} 
                  {{ activeUser.getLastName()|capitalize  }} |
                <a href="{{ base_url() }}login/logout">Logga ut</a>
            </span>
            </p>
            
            <ul class="nav">
              <li class="active"><a href="#">Hem</a></li>
              <li><a href="#about">Min sida</a></li>
              <li><a href="#about">Om</a></li>
              <li><a href="{{base_url}}contact">Kontakt</a></li>
              <li><a href="{{base_url}}administration">Administration</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list"><br />
              <li class="nav-header">Avdelning</li>
              <li><a href="{{base_url}}unit">Administrera enhet</a></li>
              <li><a href="{{base_url}}unit/members">Hantera medlemmar</a></li>
              <li class="disabled"><a href="#" >Avregistreringar</a></li>
              <li class="disabled"><a href="#">Planering och Närvaro</a></li>
              <li class="nav-header">Hjälpmedel</li>
              <li class="disabled"><a href="#">Sök kompetens</a></li>
              <li class="disabled"><a href="#">Dokumentarkiv</a></li>
              <li class="disabled"><a href="#">Rutinbeskrivningar</a></li>
              <li class="nav-header">Ekonomi och rapportering</li>
              <li class="disabled"><a href="#">Budget</a></li>
              <li class="disabled"><a href="#">Rapporter</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            <div id="FU_moveContainer">
            {% block mainContent %} {% endblock %}
            </div><!--/FU_moveContainer -->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        {% block footer %}
            &copy; Copyright 2014 by <a href="http://domain.invalid/">Fredrik och Mikael</a>.
        {% endblock %}
      </footer>

    </div><!--/.fluid-container-->

  </body>
</html>